<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <style></style>
  <body>
    <h1>Welcome to Dictionary Web App <span style="color: #a445ed"><%= username %></span></h1>
    <main style="padding: 30px 0; text-align: center; font-family: Arial; font-size: 1.5rem">
      <p style="font-size: 1.2rem">Confirm your account on Dictionary Web App:</p>
      <hr />
      <p>Use below link.</p>
      <p>🔑 <%= link %></p>
    </main>
  </body>
</html>
