@use 'variables';

@mixin theme-light {
    --theme-bg: #{variables.$clr-neutral-50};
    --theme-clr: #{variables.$clr-neutral-900};
    color-scheme: only light;
}

@mixin theme-dark {
    --theme-bg:  #{variables.$clr-neutral-900};
    --theme-clr: #{variables.$clr-neutral-50};
    color-scheme: only dark;
}