@use '../mixins/index' as *;

.word-header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr;
    row-gap: 0.5rem;
    margin-top: 1.5rem;

    &__heading {
        @include heading-1;
        font-size: 2rem;
        font-weight: 700;
        overflow-wrap: break-word;
    }

    &__pronunciation {
        color: var(--theme-clr-accent);
        font-weight: 400;
        font-size: 1.125rem;
        overflow-wrap: break-word;
    }

    &__audio {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        margin: 0;
      }
}