@use './styles/themes' as *;
@use './styles/components/index' as *;
@use './styles/layout/index' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  @include theme-light;
}

main {
  min-height: 100vh;
  color: var(--theme-clr);
  background-color: var(--theme-bg);
  nav {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
}

.theme-light {
  @include theme-light;
}

.theme-dark {
  @include theme-dark;
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme-light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
}
