@use '../mixins/index' as *;

.search-form {
  position: relative;
  display: grid;

  &__input {
    padding-block: 1.25rem;
    padding-inline: 1.5rem;
    border-radius: 1rem;
    border: 0;
    background-color: var(--theme-search-bg);
    border: 2px solid transparent;
  }

  &__input:focus-visible {
    outline: none;
    border: 2px solid var(--theme-select-focus);
  }

  &__button-container {
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    button {
      @include btn;
    }
  }

  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
  }
}
