@mixin btn {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

@mixin auth-btn($borderColor: transparent, $backgroundColor: var(--theme-clr-accent)) {
  padding: 7.5px;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 2px solid $borderColor;
  background-color: $backgroundColor;
  font-weight: 700;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;

  &:disabled {
    border: 2px solid var(--theme-shadow);
    background-color: var(--theme-shadow);
  }

  i {
    display: none;
  }

  &:hover {
    border: 2px solid $backgroundColor;
    background-color: $borderColor;
  }
}
